{% extends 'base.html' %}
{% block title %}Website planning{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 gallary">
            <div class="card">
                <img src="/static/main.jpeg" class="card-img-top" alt="Photo 1">
                <div class="card-body">
                    <p class="card-text">planning for home page</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 gallary">
            <div class="card">
                <img src="/static/mainlink.jpeg" class="card-img-top" alt="Photo 2">
                <div class="card-body">
                    <p class="card-text">second half for home page planning</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 gallary">
            <div class="card">
                <img src="/static/primary.jpeg" class="card-img-top" alt="Photo 3">
                <div class="card-body">
                    <p class="card-text">intial planning for primary pages content</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 gallary">
            <div class="card">
                <img src="/static/primary2.jpeg" class="card-img-top" alt="Photo 4">
                <div class="card-body">
                    <p class="card-text">layout plan for primary pages</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 gallary">
            <div class="card">
                <img src="/static/sportsrevamp.jpg" class="card-img-top" alt="Photo 4">
                <div class="card-body">
                    <p class="card-text">planning changes i wanted to make to the sports page and carrying them out</p>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-6 col-sm-12 gallary">
            <div class="card">
                <img src="/static/ rand.jpeg" class="card-img-top" alt="Photo 5">
                <div class="card-body">
                    <p class="card-text">Random page content ideas</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 gallary">
            <div class="card">
                <img src="/static/projects.jpeg" class="card-img-top" alt="Photo 6">
                <div class="card-body">
                    <p class="card-text">Project pages plan on layout - final</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 gallary">
            <div class="card">
                <img src="/static/finaltouch.jpeg" class="card-img-top" alt="Photo 7">
                <div class="card-body">
                    <p class="card-text">Final touches on website/what is left over for me to complete that isnt imperitive to website</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}