{% extends 'base.html' %}
{% block title %}Academia{% endblock %}

{% block content %}

<div style="display: flex; flex-direction:column; justify-content:flex-start; align-items: center; text-align: center; padding-top: 15px;">
    <!--Title-->
    <div>
        <h1>Academia</h1>
    </div>

    <!--cards for academia-->
    <div class="card w-75 mb-3 bg-dark text-white" style="padding-top:15px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); height:30vh;">
        <div class="card-body">
          <h5 class="card-title">Courses</h5>
          <div style="position: static; overflow:hidden; display: flex; justify-content:space-evenly; align-items: center; text-align: center;">
            <div style="flex:1; padding: 5px;">
              <div class="card bg-dark text-white">
                <div class="card-body">
                  <h5 class="card-title">IGCSE</h5>
                  <p class="card-text">I took 11 subjects, my favorites being math, physics, computer science and chemistry. In fact, I made a powerpoint on organic chemistry with detailed notes and past paper questions with explanations by me. Overall, 8 A*'s, 2 A's (English Lit and English Lang) and 1 B (Music).</p>
                </div>
              </div>
            </div>
            <div style="flex:1; padding: 5px;">
              <div class="card bg-dark text-white">
                <div class="card-body">
                  <h5 class="card-title">CS50</h5>
                  <p class="card-text">Harvards introductionary computer science course. Really enjoyed it as i felt (despite doing IGCSE computer science, this was my first actual time feeling challenged in the field. I thoroughly enjoy the thinking requred and would reccomend this course to anyone looking to try coding out.</p>
                </div>
              </div>
            </div>
            <div style="flex:1; padding: 5px;">
                <div class="card bg-dark text-white">
                  <div class="card-body">
                    <h5 class="card-title">AI50</h5>
                    <p class="card-text">Due to liking CS50, i decided to do Harvards course on artificial intelligence. My favorite of the two for sure, while CS50 helped me set my basis, AI50 forced me to try thinking differently. It was especially rewarding when playing games (like minesweeper and tic tac toe) with the AI'S. </p>
                  </div>
                </div>
            </div>
          </div>
        </div>
    </div>
    <div class="card w-75 mb-3 bg-dark text-white" style="padding-top:15px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); height:25vh;">
        <div class="card-body">
          <h5 class="card-title">Awards</h5>
          
          <div style="position: static; overflow:hidden; display: flex; justify-content:space-evenly; align-items: center; text-align: center;">
            <div style="flex:1; padding: 5px;">
              <div class="card bg-dark text-white">
                <div class="card-body">
                  <h5 class="card-title">Mathematics AA HL</h5>
                  <p class="card-text">For highest mark on the End of Year exams for this subject</p>
                </div>
              </div>
            </div>
            <div style="flex:1; padding: 5px;">
              <div class="card bg-dark text-white">
                <div class="card-body">
                  <h5 class="card-title">Physics HL</h5>
                  <p class="card-text">For highest mark on the End of Year exams for this subject</p>
                </div>
              </div>
            </div>
            <div style="flex:1; padding: 5px;">
                <div class="card bg-dark text-white">
                  <div class="card-body">
                    <h5 class="card-title">Economics SL</h5>
                    <p class="card-text">For highest mark on the End of Year exams for this subject</p>
                  </div>
                </div>
            </div>
            <div style="flex:1; padding: 5px;">
                <div class="card bg-dark text-white">
                  <div class="card-body">
                    <h5 class="card-title">Chemistry Award</h5>
                    <p class="card-text">For studying ahead and on top of the work. I'd say overall aproach.</p>
                  </div>
                </div>
            </div>
            <div style="flex:1; padding: 5px;">
                <div class="card bg-dark text-white">
                  <div class="card-body">
                    <h5 class="card-title">Presentation</h5>
                    <p class="card-text">Award for creating a researched back presentation on habits.</p>
                  </div>
                </div>
            </div>
            
          </div>
          
        </div>
    </div>
    <div class="card w-75 mb-3 bg-dark text-white" style="padding-top:15px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); height:35vh;">
        <div class="card-body">
          <h5 class="card-title">Tutoring</h5>
          <div style="position: static; overflow:hidden; display: flex; justify-content:space-evenly; align-items: center; text-align: center;">
            <div style="flex:1; padding: 5px;">
              <div class="card bg-dark text-white">
                <div class="card-body">
                  <h5 class="card-title">IGCSE Math</h5>
                  <p class="card-text">In all honesty, didnt signifacntly enjoy this, despite loving teaching math. This was due to it being an afterschool session where anyone who needs help can go. good in theory but in practice parents occasionally force thier children to go. When that happens the students aren't motivated to study or they don't need it. In these cases it tends to become a waste of time for me as im doing no real affect. although there was a selective few occasions that it was enjoyable. </p>
                </div>
              </div>
            </div>
            <div style="flex:1; padding: 5px;">
              <div class="card bg-dark text-white">
                <div class="card-body">
                  <h5 class="card-title">IB Chemistry HL</h5>
                  <p class="card-text">I enjoyed this signifcantly more as it was one on one, and voluntary. This meant two things, the person who i was helping was willing to learn and there was no teacher supervising (so i could eat food while tutoring). I realized i like this combination a lot more as it allowed for a more relaxed enviroment in which i felt was more enjoyable and in turn optimal for the recipient to learn. Was also more challenging (which i liked) as i was tutoring them while being in the same class as them.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    

</div>

{% endblock%}