{% extends 'base.html' %}
{% block title %}Sports{% endblock %}

{% block content %}

<div class="row" style="padding-top: 20px;">

  <div class="col-12 col-md-4 d-none d-md-block">
    <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4" style="position: fixed; top: 10%; width:28%;">
        <nav class="nav nav-pills flex-column">
            <a class="nav-link" href="#item-1">Football</a>
            <nav class="nav nav-pills flex-column">
                <a class="nav-link ms-3 my-1" href="#item-1-1">Playing</a>
                <a class="nav-link ms-3 my-1" href="#item-1-2">Coaching</a>
            </nav>
            <a class="nav-link" href="#item-2">Running</a>
            <a class="nav-link ms-3 my-1" href="#item-2-1">Participating</a>
            <a class="nav-link ms-3 my-1" href="#item-2-2">Hosting</a>
            <a class="nav-link" href="#item-3">Other</a>
            <nav class="nav nav-pills flex-column">
                <a class="nav-link ms-3 my-1" href="#item-3-1">Basketball</a>
                <a class="nav-link ms-3 my-1" href="#item-3-2">Mix Sports</a>
                <a class="nav-link ms-3 my-1" href="#item-3-3">Horse Back Riding</a>
            </nav>
        </nav>
    </nav>
  </div>

  <div class="col-12 col-md-8 offset-md-4" style="border-left: 2px solid white;">
    <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0" style="margin-left:2%;">
      <div id="item-1">
        <h4>Footy</h4>
        <div class="row align-items-center text-center text-md-start" style="padding-top: 15px; overflow: hidden;">
          <div class="col-12 col-md-8">
            <p>I've been playing football since as long as I can remember. I was very fortunate as I lived in a compound with friends that all enjoyed spending our time after school playing football, or basketball or volleyball or cricket (which despite being a Pakistani, I enjoyed the least). Obviously, my favorite was football, and it's what we played the most. Living in a compound however, means sharing the facilities with all age groups, which at the time was annoying but looking back, it likely aided in my ability to play as I would be playing football with people many years older than me in a small court. Anyway fast forwarding a couple years, I would be a couple years into training at an academy, playing with the under 18 and under 14 age group (2 separate trainings on the same day) 2-3 times a week. I love football.</p>
          </div>
          <div class="col-12 col-md-4 mt-3 mt-md-0">
            <img class="img-fluid rounded resizeable" src="/static/footy.JPG" alt="Football">
          </div>
        </div>
      </div>
      <div id="item-1-1" style="margin-left: 20px;">
        <h5>Playing</h5>
        <p style="flex:1;">As one does when playing a sport, they go to competitions. I went to many, both internationally and nationally. I competed many years at a national football competition called SIKAIC, and a decent amount of times internationally at a competition called BSME and with my acaedmy. My favorite of them all however was when i got the unique opprotunity to compete in the U19 SIKAIC at merely 14 years old and we won. I started every game, managed to score 2 goals and have a great time. It was also the first time that our school won this age group (i think).</p>
      </div>
      <div id="item-1-2" style="margin-left: 20px;">
        <h5>Coaching</h5>
        <p>This initially started as a way to maintian my social life in the midst of all my studying and training. My friend and I decided to ask if we could help coach the U14 Sikaic team. Ofcourse, when a single teacher is training over 80 kids, help is very much welomed. so we did our part and came every week to trainings, not only assiting the coach but also designiing trainings based of what the team needed. That year the u14 won, so we coached next year again. Although he now is no longer in the country i continued to coach for the third year with another friend but this time the U16 team, and it was as enjoyable. I am currently coaching a local academy's (that i used to be a player at) U16/14 team to help prepare them from their league.</p>
      </div>
      <div id="item-2">
        <h4>Running</h4>
        <div class="row align-items-center text-center text-md-start" style="padding-top: 15px; overflow: hidden;">
          <div class="col-12 col-md-8">
            <p>I first got into running during covid, football academy was closed, but i needdd sport in my life. so i started running every morning. not going to pretend like i was naturally amazing because i wasnt. i ran 3 laps of my compound at the time and that was about 900m total. thats it. now at this current moment my longest run constantly is about 15 K but hopefully that will change soon.</p>
          </div>
          <div class="col-12 col-md-4 mt-3 mt-md-0">
            <img class="img-fluid rounded resizeable" src="/static/runnin.JPG" alt="runnin">
          </div>
        </div>
      </div>
      <div id="item-2-1" style="margin-left: 20px;">
          <h5>Participating</h5>
          <p>I ran my first ever race. long story short i came 4th. just out of the podium. short story long though, i shouldve came first, i infact was first till about 5.9 K of this 6 K race. because as i was approaching the finish line, with a solid lead, i felt like puking. i learnt a lot in that race like not deviating from the plan unless neccesary, becuase my dumb self picked up a water at 4 k in for no reason, i barely drank from it and i didnt have the bottle cap, so i carried an open waterbottle for the last 2 k while trying not to spill it. that water bottle, seemed to innocent but cost me a win. still pd'd though, so its all good now.</p>
      </div>
      <div id="item-2-2" style="margin-left: 20px;">
          <h5>Hosting</h5>
          <p>I've not done it yet, but wait, i will.</p>
      </div>
      <div id="item-3">
        <h4>Other</h4>
        <p>This is too all the small other branches ive randomly done, hopefully this will grow as i want to try out many sports. From these though, my favorite is probably Horse back riding because it was the scariest.</p>
      </div>
      <div id="item-3-1" style="margin-left: 20px;">
        <h5>Basketball</h5>
        <p>Always had some intrest, but never really trained in any way. Being a football player i had an athletic advantage to almost all the players who played basketball but i couldnt finish for my life. i wasnt bad at layups, was horrible at shots though. My strengths were defense and my vision. Which was just enough to get me on the team to go to the national competition for the U19 age group. Took a bunch of naps during the competition though, because i had to play fasting.</p>
      </div>
      <div id="item-3-2" style="margin-left: 20px;">
        <h5>Mix Sports</h5>
        <p>...</p>
      </div>
      <div id="item-3-3" style="margin-left: 20px;">
          <h5>Horse back riding</h5>
          <p>I'm still scared of horses and every single time i thoguht i was getting less scared, one of them would decide to taunt me. For example, one time a horse kept on going the oposite direction i would signal it too, still dont know what i did wrong. Anyway i had to stop due to many reasons, but most boil down to time and transport. I did however do it for 8 weeks (1 session a week) and manage to reach to a level of learning how to canter. I do intend on returning to it as soon as i get the opprotunity.</p>
      </div>
    </div>
  </div>
</div>

{% endblock%}